<div class="center_wrap">
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= root_path %>">Home</a></li> <li>»</li> <li>Search User Looking For Properties</li>
    </ul>
  </div>
  <% if @search_properties.blank?%>
      <label>No results found </label>
  <%else%>
      <h1 class="title"> List of Searched User properties  </h1>
      <table class="table2" style="border: 1; width: 100%;">
        <tr>
          <th scope="col"><%=  "Location" %></th>
          <th scope="col"><%= "Property type" %></th>
          <th scope="col"><%= "Looking for type" %></th>
        </tr>
        <% @search_properties.each do |property|%>
            <tr>
              <td><%= property.location %></td>
              <td><%= property.property.name %></td>
              <td><%= property.looking_for.name %></td>

            </tr>
        <%end%>
      </table>
  <%end%>

  <table style="width: 100%">
    <tr>
      <td>
        <%= gmaps4rails(@json) %>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <%= link_to "Back" , root_path, :class=>'read_more' %>
      </td>
    </tr>
  </table>

</div>