<div class="center_wrap">
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= administrators_dashboard_index_path %>">Dashboard</a></li>
      <li>»</li> <li><a href="<%= administrators_looking_fors_path %>">Properties
    </a></li> <li>»</li> <li>New Property</li>
    </ul>
  </div>
  <div class="content_box2">
    <div class="form_box" style="width:100%; background-color:#e7e7e7;">
      <% if @looking_for.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@looking_for.errors.count, "error") %> prohibited this Property from being saved:</h2>
            <ul>
              <% @looking_for.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <h2 class="heads"><span>Create Property</span></h2>
      <%= form_for [:administrators,@looking_for] do |f| %>
          <table width="100%" border="0" class="table1">
            <tr>
              <td>
                <div class="field" id="input_form" style="text-align: left; ">
                  <label class="form_label">Property Name : &nbsp;</label><br/>
                  <%= f.text_field :name , :class => 'textfield2' %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <%= f.submit "Create Property", :class => 'style1' %>
              </td>
            </tr>
          </table>
      <%end%>
    </div>

  </div>
</div>