<div class="links">
  <ul>
    <li>
      <h1 class="title"> Near by Locations </h1>
      <%= form_tag users_user_properties_path, :method => :get do %>
            <div id="input_form" >
              <%= text_field_tag :search, params[:search], :name => "addr", :class=>"text_field" ,:value=>'Search Near',:onfocus=>"if(this.value=='Search Near'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Near';this.style.color='grey';}" %>
              <input type="reset" id="pick_addr" class="myButton" />
               <%= image_submit_tag("search.png") %>
            </div>
      <% end %>
    </li>
  </ul>
  <ul>
    <li>
      <h1 class="title"> Search </h1>
      <%= form_for(:search , :url => search_properties_user_users_user_properties_path, :method=>'post') do |f|%>
          <table>
            <tr>
              <td>
                <%= text_field_tag :search, params[:search], :name => "addr" , :class=>"text_field" ,:value=>'Search Location',:onfocus=>"if(this.value=='Search Location'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Location';this.style.color='grey';}" %>
                <input type="reset" id="pick_addr" class="myButton" />
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <label class="form_label">Property Type</label>
                  <%= f.text_field :property_id , :class =>"text_field" , :value => 'Search Property' , :onfocus=>"if(this.value=='Search Property'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Property';this.style.color='grey';}" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <label class="form_label">Ownership Type</label>
                  <%= f.text_field :ownership_type_id ,:class =>"text_field" , :value => 'Search Ownership' , :onfocus=>"if(this.value=='Search Ownership'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Ownership';this.style.color='grey';}" %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="align: left;">
                <%= f.submit "Search",:class =>'style1' %>
              </td>
            </tr>
          </table>
      <% end %>
    </li>
  </ul>
</div>

