<div class="links">
  <ul>
    <li>
      <h1 class="title"> Near by Locations </h1>
      <%= form_tag users_user_properties_path, :method => :get do %>
          <div class="input_form" >
            <%= text_field_tag :search, params[:search], :name => "addr", :class=>"text_field" ,:value=>'Search Near',:onfocus=>"if(this.value=='Search Near'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Near';this.style.color='grey';}" %>
            <input type="reset" id="pick_addr" class="myButton" />
            <%= image_submit_tag("search.png") %>
          </div>
      <% end %>
    </li>
  </ul>
  <ul>
    <li>
      <h1 class="title"> Search </h1>
      <%= form_for(:search , :url => search_properties_user_users_user_properties_path, :method=>'post') do |f|%>
          <table>
            <tr>
              <td>
                <div class="input_form">
                  <%= text_field_tag :search, params[:search], :name => "addr" , :class=>"text_field" ,:value=>'Search Location',:onfocus=>"if(this.value=='Search Location'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Location';this.style.color='grey';}" %>
                  <input type="reset" id="pick_addr" class="myButton" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <label class="form_label">Property Type</label>
                  <%= f.text_field :property_id , :class =>"text_field" , :value => 'Search Property' , :onfocus=>"if(this.value=='Search Property'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Property';this.style.color='grey';}" %>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <label class="form_label">Ownership Type</label>
                  <%= f.text_field :ownership_type_id ,:class =>"text_field" , :value => 'Search Ownership' , :onfocus=>"if(this.value=='Search Ownership'){ this.value=''; this.style.color='#999999';}",:onblur=>"if(this.value=='') {this.value='Search Ownership';this.style.color='grey';}" %>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="align: left;">
                <%= f.submit "Search",:class =>'style1' %>
              </td>
            </tr>
          </table>
      <% end %>
    </li>
  </ul>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script type="text/javascript">

    $(document).ready(function(){
        function callback(pos, addr, addr_ext){
            var a = addr;
            if(addr_ext){
                a += '-' + addr_ext;
            }
            $('.input_form input[name=addr]').val(a);

            var html = '<p><b>latlng:</b> ' + pos + '; <b>addr:</b> ' + addr + '; <b>addr_ext:</b> ' + addr_ext + '</p>';
            $('#output').append(html);
        }

        var default_pos = new google.maps.LatLng(21.1256, 78.3106); // beijing, china
        var opt = {
            addr: 'hyderabad',
            pos: default_pos,
            callback: callback,
            width: 480,
            height: 480
        };
        var addr_picker = new AddressPicker(opt);

        $('.input_form input[type=reset],').click(function(){
            addr_picker.open();
        });
    });

</script>


