<br />
<div class="center_wrap">
  <% if @search_properties.blank?%>
      <label>No results found </label>
  <%else%>
      <table border="1" width="800">
        <tr>
          <th><b><%=  "Location" %></b></th>
          <th><b><%= "Property type" %></b></th>
          <th><b><%= "Owner ship type" %></b></th>
        </tr>
        <% @search_properties.each do |property|%>
            <tr>
              <td><%= property.location %></td>
              <td><%= property.property.name %></td>
              <td><%= property.ownership_type.name %></td>

            </tr>
        <%end%>
      </table>
  <%end%>


  <br/>
  <%= link_to "Back", root_url %>
   <br/>
  <table>
    <tr>
      <td>
        <%= gmaps4rails(@json) %>
      </td>
    </tr>
  </table>
</div>