<br/>
<div class="center_wrap">
  <div class="bread_crumb">
    <ul>
      <li><a href="<%= root_path %>">Home</a></li> »</li> <li>Sign Up</li>
    </ul>
  </div>
  <div class="content_box2">
    <div class="form_box" style="width:100%; background-color:#e7e7e7;">
      <h2 class="heads"><span>Sign Up</span></h2>


      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <table style = "width: 100%;" border="0" class="table1">
            <tr>
              <td>
                <%= devise_error_messages! %>

                <%#= form_authenticity_token %>
              </td>
            </tr>
            <tr>
              <td>
                <div><%= f.label :email %><br />
                  <%= f.email_field :email %></div>
              </td>
            </tr>
            <tr>
              <td>
                <div><%= f.label :password %><br />
                  <%= f.password_field :password %></div>

              </td>
            </tr>
            <tr>
              <td>
                <div><%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation %></div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div><%= f.submit "Sign up", :class=>'style1' %></div>
              </td>
            </tr>
          </table>
      <% end %>

      <%= render "/users/links" %>
    </div>
  </div>
</div>

